/* リスト | スタイル | なし */
ul.is-style-none-style,
ol.is-style-none-style {
    padding-left: 1em;
}

ul.is-style-none-style li,
ol.is-style-none-style li {
    list-style: none;
}

/* リスト | スタイル | 米印付き数字 */
ol.is-style-asterisk-list-style li {
    list-style-type: none;
    position: relative;
}

ol.is-style-asterisk-list-style li::before {
    content: "※" counter(list-item);
    display: inline-block;
    margin-left: -2.5em;
    width: 2em;
    position: absolute;
    top: 0;
    left: 0;
}

/* リスト | スタイル | 括弧付き数字 */
ol.is-style-brackets-list-style li {
    list-style-type: none;
    position: relative;
}

ol.is-style-brackets-list-style li::before {
    content: "(" counter(list-item) ")";
    display: inline-block;
    margin-left: -3.5em;
    width: 3em;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
}

/* リスト | スタイル | 白丸付き数字 */
ol.is-style-numbered-circle-mark-list-style li {
    list-style-type: none;
    position: relative;
}

ol.is-style-numbered-circle-mark-list-style li::before {
    content: counter(list-item);
    position: absolute;
    display: flex;
    width: 1.2em;
    height: 1.2em;
    margin-left: -2em;
    top: 0.35em;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: #999 1px solid;
    border-radius: 50%;
    font-size: 83%;
}

/* リスト | スタイル | サブ番号（ハイフン） */
ol.is-style-subnumbered-hyphen-mark-list-style {
    padding-left: 2.5em;
}

ol.is-style-subnumbered-hyphen-mark-list-style li {
    list-style: none;
    position: relative;
}

ol.is-style-subnumbered-hyphen-mark-list-style li::before {
    content: counters(list-item, "-") " ";
    display: inline-block;
    min-width: 2.5em;
    margin-left: -2.5em;
}

/* リスト | スタイル | 単純白丸 */
ul.is-style-white-circle-mark-list-style li {
    list-style-type: circle;
    position: relative;
}

/* リスト | スタイル | 大きい白丸 */
ul.is-style-large-white-circle-mark-list-style li {
    list-style-type: none;
}

ul.is-style-large-white-circle-mark-list-style li::before {
    content: "〇";
    margin-right: 8px;
}