.editor-styles-wrapper ul[class*="is-style-"] > .wp-block-list-item > ul,
.editor-styles-wrapper ol[class*="is-style-"] > .wp-block-list-item > ul {
    margin-left: 0;
    padding-left: 1.45em;
}

.editor-styles-wrapper ul[class*="is-style-"] > .wp-block-list-item > ol,
.editor-styles-wrapper ol[class*="is-style-"] > .wp-block-list-item > ol {
    margin-left: 0;
    padding-left: 1.75em;
}

/* リスト | スタイル | なし */
.is-style-none-style {
    padding-left: 1em;
}

.is-style-none-style li {
    list-style: none;
}

/* リスト | スタイル | 米印付き数字 */
.is-style-asterisk-list-style li {
    list-style-type: none;
    position: relative;
}

.is-style-asterisk-list-style li::before {
    content: "※" counter(list-item);
    display: inline-block;
    margin-left: -2.5em;
    width: 2em;
    position: absolute;
    top: 0;
    left: 0;
}

/* リスト | スタイル | 括弧付き数字 */
.is-style-brackets-list-style li {
    list-style-type: none;
    position: relative;
}

.is-style-brackets-list-style li:before {
    content: "(" counter(list-item) ")";
    display: inline-block;
    margin-left: -3.5em;
    width: 3em;
    text-align: right;
    position: absolute;
    top: 0;
    left: 0;
}

/* リスト | スタイル | 白丸付き数字 */
.is-style-numbered-circle-mark-list-style {
    padding-left: 1.35em;
}

.wp-block-list-item > .is-style-numbered-circle-mark-list-style {
    padding-left: 1.75em;
}

.is-style-numbered-circle-mark-list-style li {
    list-style-type: none;
    position: relative;
}

.is-style-numbered-circle-mark-list-style li:before {
    content: counter(list-item);
    position: absolute;
    display: flex;
    width: 1.2em;
    height: 1.2em;
    margin-left: -1.95em;
    top: 0.35em;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #000;
    border: #999 1px solid;
    border-radius: 50%;
    font-size: 83%;
}

.wp-block-list-item > .is-style-numbered-circle-mark-list-style li:before {
    margin-left: -2.3em;
}

/* リスト | スタイル | サブ番号（ハイフン） */
.is-style-subnumbered-hyphen-mark-list-style {
    padding-left: 1.75em;
}

.is-style-subnumbered-hyphen-mark-list-style li {
    list-style: none;
    position: relative;
}

.is-style-subnumbered-hyphen-mark-list-style li::before {
    content: counters(list-item, "-") " ";
    position: absolute;
    top: 0;
    left: -1.75em;
    width: 2em;
    box-sizing: content-box;
    text-align: left;
    white-space: nowrap;
}

.is-style-subnumbered-hyphen-mark-list-style li > :not(ol):not(ul) {
    margin-top: 0;
    margin-bottom: 0;
}

.is-style-subnumbered-hyphen-mark-list-style li > ol,
.is-style-subnumbered-hyphen-mark-list-style li > ul {
    margin-left: 0;
}

.is-style-subnumbered-hyphen-mark-list-style li > * {
    margin-top: 0;
    margin-bottom: 0;
}

/* リスト | スタイル | 単純白丸 */
.is-style-white-circle-mark-list-style li {
    list-style-type: circle;
    position: relative;
}

/* リスト | スタイル | 大きい白丸 */
.is-style-large-white-circle-mark-list-style > li {
    list-style-type: none;
}

.is-style-large-white-circle-mark-list-style > li::marker {
    content: "〇 ";
    font-size: 1em;
    font-weight: 400;
}

.is-style-large-white-circle-mark-list-style > .wp-block-list-item > .is-style-large-white-circle-mark-list-style {
    padding-left: 1.3em;
}

ul.is-style-large-white-circle-mark-list-style > .wp-block-list-item > ul.is-style-subnumbered-hyphen-mark-list-style {
    padding-left: 1.95em;
}

.is-style-large-white-circle-mark-list-style > .wp-block-list-item > .is-style-numbered-circle-mark-list-style {
    padding-left: 1.15em;
}

.is-style-large-white-circle-mark-list-style > .wp-block-list-item > .is-style-numbered-circle-mark-list-style > .wp-block-list-item::before {
    margin-left: -1.95em;
}